:root {
  --buttons-color: #7209b7;
  --text-color: #011627;
  --white-text-color: #ffffff;
  --subtext-color: #011627b2;
  --company-bg: #2ec4b6;
  --more-serrvises-bg: #f7f8fa;
  --about-layer-color: #3a0ca366;
  --main-layer-color: #3a0ca333;
  --cheap-form-color: #00000066;
  --cheep-shadow-color: #0000001a;
}
